In [5]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),
             columns=['d','f','e'],
             index=['台北','台中','台南','高雄']
            )
frame

           d         f         e
台北 -1.391627  0.145025  0.873043
台中 -0.654557 -0.740565 -1.200743
台南  0.218259  1.779071 -0.831132
高雄  0.302800 -1.580813  0.779787

In [6]:
np.absolute(frame)

           d         f         e
台北  1.391627  0.145025  0.873043
台中  0.654557  0.740565  1.200743
台南  0.218259  1.779071  0.831132
高雄  0.302800  1.580813  0.779787

In [7]:
#使用for in 讀取DataFrame
for column in frame:
    for item in frame[column]:
        print(item)
    print("=======")

-1.391627423414448
-0.6545569112385959
0.21825890170588255
0.3027998530959774
=======
0.14502496836875656
-0.7405645030496404
1.779070589812102
-1.5808133008059018
=======
0.873043314983724
-1.2007427686222496
-0.8311323643877856
0.7797871394926086
=======

In [8]:
#使用for in 讀取DataFrame
for column in frame:
    print(np.abs(frame[column]))

台北    1.391627
台中    0.654557
台南    0.218259
高雄    0.302800
Name: d, dtype: float64
台北    0.145025
台中    0.740565
台南    1.779071
高雄    1.580813
Name: f, dtype: float64
台北    0.873043
台中    1.200743
台南    0.831132
高雄    0.779787
Name: e, dtype: float64

In [9]:
np.max(frame,axis=0)

d    0.302800
f    1.779071
e    0.873043
dtype: float64

In [10]:
np.max(frame,axis=1)

台北    0.873043
台中   -0.654557
台南    1.779071
高雄    0.779787
dtype: float64

In [11]:
#使用numpy的function
np.max(frame,axis=0) - np.min(frame,axis=0)

d    1.694427
f    3.359884
e    2.073786
dtype: float64

In [12]:

#使用dataFrame的method
frame.max(axis=0) - frame.min(axis=0)

d    1.694427
f    3.359884
e    2.073786
dtype: float64

In [13]:
def fun1(series):
    print(series.name)
    return series.max() - series.min() + 1

frame.apply(fun1)

d
f
e

d    2.694427
f    4.359884
e    3.073786
dtype: float64